!!!
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/tables.css')
    link(rel='stylesheet', href='/stylesheets/nouveau.css')
    script(src='/javascripts/vendor/bootstrap.min.js')
    script(src='/javascripts/vendor/jquery-1.9.1.js')
    script(src='/javascripts/vendor/jquery.validate.min.js')
    script(src='/javascripts/vendor/additional-methods.min.js')

  body
    block content
